<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">



    <nb-card class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <nb-card-header>
            Pagador
        </nb-card-header>
        <nb-card-body>

            <div *ngIf="!form.valid && submitted">
                <div class="alert alert-danger" *ngIf="!form.controls['cpf1'].valid">
                    CPF é um campo
                    <u>obrigatório</u> e deve ser um CPF válido!
                </div>
                <div class="alert alert-danger" *ngIf="!form.controls['nome1'].valid">
                    Nome é um campo
                    <u>obrigatório</u> e deve possuír um mínimo de 3 caracteres e um máximo de 250!
                </div>
                <div class="alert alert-danger" *ngIf="!form.controls['rg1'].valid">
                    RG é um campo
                    <u>obrigatório</u>!
                </div>
                <div class="alert alert-danger" *ngIf="!form.controls['datanasc1'].valid">
                    Data Nascimento é um campo
                    <u>obrigatório</u> e deve ser uma data no formato dd/mm/aaaa!
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="cpf">CPF</label>
                        <input required [formControl]="form.controls['cpf1']" [textMask]="{mask: cpfMask}" type="text" class="form-control" id="cpf"
                            placeholder="XXX.XXX.XXX-XX" [ngClass]="{'form-control-danger': (!form.controls['cpf1'].valid && (form.controls['cpf1'].touched || submitted)), 'form-control-success': (form.controls['cpf1'].valid && form.controls['cpf1'].touched)}">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input [formControl]="form.controls['nome1']" type="text" class="form-control" id="nome" placeholder="Nome" [ngClass]="{'form-control-danger': (!form.controls['nome1'].valid && (form.controls['nome1'].touched || submitted)), 'form-control-success': (form.controls['nome1'].valid && form.controls['nome1'].touched)}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="rg">RG</label>
                        <input [formControl]="form.controls['rg1']" type="text" class="form-control" id="rg" placeholder="RG" [ngClass]="{'form-control-danger': (!form.controls['rg1'].valid && (form.controls['rg1'].touched || submitted)), 'form-control-success': (form.controls['rg1'].valid && form.controls['rg1'].touched)}">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="datanasc">Data Nascimento</label>
                        <input [formControl]="form.controls['datanasc1']" [textMask]="{mask: dataMask} " type="text" class="form-control" id="datanasc"
                            placeholder="__/__/____" [ngClass]="{'form-control-danger': (!form.controls['datanasc1'].valid && (form.controls['datanasc1'].touched || submitted)), 'form-control-success': (form.controls['datanasc1'].valid && form.controls['datanasc1'].touched)}">
                    </div>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
    <nb-card class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <nb-card-header>
            <div class="row">
                <div class="col-sm-8">
                    Paciente
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-outline-success btn-sm btn-with-icon btn-card-action" (click)="copiaPagador()">
                        <i class="ion-person-stalker"></i> Mesmo que Pagador</button>
                </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <div *ngIf="!form.valid && submitted">
                <div class="alert alert-danger" *ngIf="!form.controls['cpf2'].valid">
                    CPF é um campo
                    <u>obrigatório</u> e deve ser um CPF válido!
                </div>
                <div class="alert alert-danger" *ngIf="!form.controls['nome2'].valid">
                    Nome é um campo
                    <u>obrigatório</u> e deve possuír um mínimo de 3 caracteres e um máximo de 250!
                </div>

                <div class="alert alert-danger" *ngIf="!form.controls['datanasc2'].valid">
                    Data Nascimento é um campo
                    <u>obrigatório</u> e deve ser uma data no formato dd/mm/aaaa!
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="cpf">CPF</label>
                        <input [formControl]="form.controls['cpf2']" [textMask]="{mask: cpfMask} " type="text" class="form-control" id="cpf" placeholder="XXX.XXX.XXX-XX"
                            [ngClass]="{'form-control-danger': (!form.controls['cpf2'].valid && (form.controls['cpf2'].touched || submitted)), 'form-control-success': (form.controls['cpf2'].valid && form.controls['cpf2'].touched)}">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input [formControl]="form.controls['nome2']" type="text" class="form-control" id="nome" placeholder="Nome" [ngClass]="{'form-control-danger': (!form.controls['nome2'].valid && (form.controls['nome2'].touched || submitted)), 'form-control-success': (form.controls['nome2'].valid && form.controls['nome2'].touched)}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="datanasc">Data Nascimento</label>
                        <input [formControl]="form.controls['datanasc2']" [textMask]="{mask: dataMask} " type="text" class="form-control" id="datanasc"
                            placeholder="__/__/____" [ngClass]="{'form-control-danger': (!form.controls['datanasc2'].valid && (form.controls['datanasc2'].touched || submitted)), 'form-control-success': (form.controls['datanasc2'].valid && form.controls['datanasc2'].touched)}">
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </nb-card-body>
    </nb-card>
    <nb-card class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <nb-card-header>
            Parcelas
        </nb-card-header>
        <nb-card-body>
            <!--div *ngIf="!form.valid && submitted">
                <div *ngFor="let valores of form.controls['valores'].controls; let i=index">
                    <div class="alert alert-danger" *ngIf="!form.controls['valores'].controls[i].controls.valor.valid">
                        Valor [{{ i + 1 }}] é um campo <u>obrigatório</u> e deve ser maior que 0 (zero)!
                    </div>
                    <div class="alert alert-danger" *ngIf="!form.controls['valores'].controls[i].controls.vencimento.valid && form.controls['valores'].controls[i].controls.touched">
                        Data Vencimento [{{ i + 1 }}] é um campo <u>obrigatório</u> e deve ser uma data no formato dd/mm/aaaa!
                    </div>
                </div>
            </div-->
            <div *ngFor="let valores of getValores(); let i=index" class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3" *ngIf="form.controls['valores'].controls[i].controls.tipo.value === 'cheque'">
                            <input [formControl]="form.controls['valores'].controls[i].controls.valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
                                placeholder="Valor R$"type="text" id="valor" class="form-control" [ngClass]="{'form-control-danger': (!form.controls['valores'].controls[i].controls.valor.valid && (form.controls['valores'].controls[i].controls.valor.touched || submitted)), 'form-control-success': (form.controls['valores'].controls[i].controls.valor.valid && form.controls['valores'].controls[i].controls.valor.touched)}">
                            </div>
                        <div class="col-md-3" *ngIf="form.controls['valores'].controls[i].controls.tipo.value === 'cheque'">
                            <input [formControl]="form.controls['valores'].controls[i].controls.numero"
                                placeholder="Número" type="text" id="numeroCheque" class="form-control" [ngClass]="{'form-control-danger': (!form.controls['valores'].controls[i].controls.numero.valid && (form.controls['valores'].controls[i].controls.numero.touched || submitted)), 'form-control-success': (form.controls['valores'].controls[i].controls.numero.valid && form.controls['valores'].controls[i].controls.numero.touched)}">
                        </div>
                        <div class="col-md-3" *ngIf="form.controls['valores'].controls[i].controls.tipo.value === 'cheque'">
                            <input [formControl]="form.controls['valores'].controls[i].controls.banco" type="text" id="bancoCheque" class="form-control" [ngClass]="{'form-control-danger': (!form.controls['valores'].controls[i].controls.banco.valid && (form.controls['valores'].controls[i].controls.banco.touched || submitted)), 'form-control-success': (form.controls['valores'].controls[i].controls.banco.valid && form.controls['valores'].controls[i].controls.banco.touched)}"
                                placeholder="Banco">
                        </div>
                        <div class="col-md-3" *ngIf="form.controls['valores'].controls[i].controls.tipo.value === 'cheque'">
                            <input [formControl]="form.controls['valores'].controls[i].controls.agencia" type="text" id="bancoCheque" class="form-control" [ngClass]="{'form-control-danger': (!form.controls['valores'].controls[i].controls.agencia.valid && (form.controls['valores'].controls[i].controls.agencia.touched || submitted)), 'form-control-success': (form.controls['valores'].controls[i].controls.agencia.valid && form.controls['valores'].controls[i].controls.agencia.touched)}"
                                placeholder="Agência">
                        </div>
                        <div class="col-md-12" *ngIf="form.controls['valores'].controls[i].controls.tipo.value !== 'cheque'">
                            <input [formControl]="form.controls['valores'].controls[i].controls.valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
                                plaveholder="Valor R$" type="text" id="valor" class="form-control" [ngClass]="{'form-control-danger': (!form.controls['valores'].controls[i].controls.valor.valid && (form.controls['valores'].controls[i].controls.valor.touched || submitted)), 'form-control-success': (form.controls['valores'].controls[i].controls.valor.valid && form.controls['valores'].controls[i].controls.valor.touched)}">
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <input [formControl]="form.controls['valores'].controls[i].controls.vencimento" [textMask]="{mask: dataMask} " type="text"
                        class="form-control" placeholder="__/__/____" [ngClass]="{'form-control-danger': (!form.controls['valores'].controls[i].controls.vencimento.valid && (form.controls['valores'].controls[i].controls.vencimento.touched || submitted)), 'form-control-success': (form.controls['valores'].controls[i].controls.vencimento.valid && form.controls['valores'].controls[i].controls.vencimento.touched)}">
                </div>
                <div class="col-md-2">
                    <div class="dropdown" ngbDropdown>
                        <button class="btn  btn-sm btn-outline-secondary dropdown-toggle" type="button" ngbDropdownToggle>
                            {{ form.controls['valores'].controls[i].controls.tipo.value === 'cheque' ? 'Cheque' : 'Dinheiro' }}
                        </button>
                        <ul class="dropdown-menu force-black" ngbDropdownMenu>
                            <li class="dropdown-item" (click)="form.controls['valores'].controls[i].controls.tipo.setValue('dinheiro')">Dinheiro</li>
                            <li class="dropdown-item" (click)="form.controls['valores'].controls[i].controls.tipo.setValue('cheque')">Cheque</li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-1">
                    <button *ngIf="i === 0" type="button" class="btn btn-sm btn-outline-success btn-icon" (click)="addParcela()" tooltip="Adicionar Parcela">
                        <i class="ion-plus-circled"></i>
                    </button>
                    <button *ngIf="i >= 1" type="button" class="btn btn-sm btn-outline-danger btn-icon" (click)="removeParcela(i)" tooltip="Remover Parcela">
                        <i class="ion-close-circled"></i>
                    </button>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
    <br clear="all" />
    <button type="submit" class="btn btn-success">Gerar Recibo</button>
    <button type="button" class="btn btn-danger btn-raised" (click)="cancelar()">Cancelar</button>
</form>
