@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@include nb-install-component() {
    .solar-card nb-card-header {
        border: none;
        padding-bottom: 0;
    }
    @include media-breakpoint-down(sm) {
        ngx-traffic {
            display: none;
        }
    }
    @include media-breakpoint-down(is) {
        /deep/ nb-card.large-card {
            height: nb-theme(card-height-medium);
        }
    }
    nb-card-body {
        overflow: visible;
    }
    .force-black {
        color: black !important;
    }
}

.btn-card-action {
    margin-top: -15px;
    margin-bottom: -15px;
}

.form-control {
    padding: 0.375rem 0.45rem !important;
}

.input-group-addon,
  .input-group-icon {
    font-size: 1rem !important;
    padding: 8px !important;

  }

.no-padding {
    padding: 0 !important;
}