// themes - our custom or/and out of the box themes
@import 'themes';
// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
// loading progress bar theme
@import './pace.theme';
// install the framework and custom global styles
@include nb-install() {
    // framework global styles
    @include nb-theme-global();
    // loading progress bar
    @include ngx-pace-theme();

    table tr th, 
    table tr td {
        padding: .5em 1em !important;
    }
}

;
.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
    padding: 1.5rem 1.5rem 0.5rem
}

@media (max-width: 991.98px) {
    .nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
        padding: 1.5rem 1.5rem 0.5rem
    }
}

@media (max-width: 767.98px) {
    .nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
        padding: 1.5rem 1.5rem 0.5rem
    }
}

.ngb-dp-arrow > button {
    color: black !important;
}

.ng2-smart-action-edit-edit,
    .ng2-smart-action-delete-delete {
        font-size: 1rem !important;
    }


    
