// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';
// which themes you what to enable (empty to enable all)
$nb-themes: nb-register-theme(( // app wise variables for each theme
    sidebar-header-gap: 2rem,
    sidebar-header-height: initial,
    smart-table-padding: 5px !important,
    layout-content-width: 1400px,
    font-main: Roboto,
    font-secondary: Exo,
    font-size: 14px,
    color-primary: #9AFF9A,
    btn-outline-fg: black), default, default);
