<nb-card>
    <nb-card-header>Buscar Recibos</nb-card-header>
    <nb-card-body style="overflow: visible;">
        <div class="row">
            <div class="col-md-6 input-group">
                <input class="form-control" [(ngModel)]="nomePagador" placeholder="Nome Pagador">
            </div>
            <div class="col-md-6 input-group">
                <input class="form-control" [(ngModel)]="nomePaciente" placeholder="Nome Paciente">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- DIARIA -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="dropdown" ngbDropdown>
                                <button class="btn no-border-right btn-sm btn-outline-secondary dropdown-toggle" type="button" ngbDropdownToggle>
                                    {{ getTipoBusca() }}
                                </button>
                                <ul class="dropdown-menu force-black" ngbDropdownMenu>
                                    <li class="dropdown-item" (click)="tipoBusca = 'diaria'; limparFiltros();">Diária</li>
                                    <li class="dropdown-item" (click)="tipoBusca = 'mensal'; limparFiltros();">Mensal</li>
                                    <li class="dropdown-item" (click)="tipoBusca = 'anual'; limparFiltros()">Anual</li>
                                </ul>
                            </div>
                        </div>
                        <!-- DIARIA -->
                        <input *ngIf="tipoBusca == 'diaria'" class="form-control" (click)="dp.toggle()" [(ngModel)]="fromDateView">
                        <input *ngIf="tipoBusca == 'diaria'" class="form-control" hidden name="dp" [displayMonths]="2" [(ngModel)]="fromDate" (ngModelChange)="setFromDateView($event)"
                            ngbDatepicker #dp="ngbDatepicker">
                        <div *ngIf="tipoBusca == 'diaria'" class="input-group-append">
                            <button class="btn btn-outline-secondary custom-btn-sm" (click)="dp.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                        <!-- MENSAL -->
                        <input *ngIf="tipoBusca == 'mensal'" class="form-control" (click)="dp.toggle()" [(ngModel)]="fromDateView">
                        <input *ngIf="tipoBusca == 'mensal'" class="form-control" hidden name="dp" [(ngModel)]="fromDate" (ngModelChange)="setFromDateView($event)" ngbDatepicker
                            #dp="ngbDatepicker" [displayMonths]="2" [dayTemplate]="t">
                        <div *ngIf="tipoBusca == 'mensal'" class="input-group-append">
                            <button class="btn btn-outline-secondary custom-btn-sm" (click)="dp.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>

                        <ng-template *ngIf="tipoBusca == 'mensal'" #t let-date="date" let-focused="focused">
                            <span class="custom-day" [class.focused]="focused" [class.range]="isHovered(date)" [class.faded]="isInside(date)" (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null">
                                {{ date.day }}
                            </span>
                        </ng-template>
                        <!-- ANUAL -->
                        <select *ngIf="tipoBusca == 'anual'" (change)="setFromYear($event)" class="form-control">
                            <option value="null"></option>
                            <option value="{{ ano }}" *ngFor="let ano of anosSelect">{{ ano }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 input-group">
                <button type="button" class="btn btn-outline-success btn-with-icon" (click)="doSearch()">
                    <i class="ion-search"></i> Buscar</button>
                <button style="color: red;" type="button" class="btn btn-link" (click)="limparFiltros()">
                    <i class="fa fa-eraser"></i> Limpar</button>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer *ngIf="isSearching">
        <ng2-smart-table (edit)="edit($event)" (delete)="delete($event)" (sort)="doSort($event)" [settings]="settings" [source]="recibos"></ng2-smart-table>
        <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalItens" [pageSize]="itensPorPagina" [(page)]="paginaAtual"
            [maxSize]="maxSize" (pageChange)="paginado($event)" [boundaryLinks]="true" *ngIf="!recibos.isEmpty()">
        </ngb-pagination>
    </nb-card-footer>
</nb-card>
