@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@include nb-install-component() {
    .content-panel {
        padding-top: 10px;
    }
    .custom-day {
        text-align: center;
        padding: 0.185rem 0.25rem;
        display: inline-block;
        height: 2rem;
        width: 2rem;
    }
    .custom-day.focused {
        background-color: #e6e6e6;
    }
    .custom-day.range,
    .custom-day:hover {
        background-color: rgb(2, 117, 216);
        color: white;
    }
    .custom-day.faded {
        background-color: rgba(2, 117, 216, 0.5);
    }



    .btn-card-action {
        margin-top: -15px;
        margin-bottom: -15px;
    }
    
    
    .form-control {
        padding: 0.375rem 0.45rem !important;
    }
    
    .force-black {
        color: black !important;
    }
    
    .custom-btn-sm {
        padding: 0.625rem 1.5rem;
        font-size: 0.875rem;
        line-height: 1.25;
    }
    
    select.form-control:not([size]):not([multiple]) {
        height: calc(2rem + 9px) !important;
    }
    
    .input-group {
        margin-bottom: 1rem;
    }
    
    .no-border-right {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    a.ng2-smart-action {
        border-right: none !important;
    }
        
}
